In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-09-17 23:08:12,-23.1203,-134.9692,72.30,77,1,21.14
1,1,Ushuaia,AR,2022-09-17 23:10:12,-54.8000,-68.3000,40.66,75,75,26.46
2,2,Port Blair,IN,2022-09-17 23:11:45,11.6667,92.7500,80.44,82,100,16.17
3,3,Jamestown,US,2022-09-17 23:10:55,42.0970,-79.2353,72.18,58,0,5.75
4,4,Arraial Do Cabo,BR,2022-09-17 23:11:46,-22.9661,-42.0278,66.45,72,15,10.92

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Port Blair,IN,2022-09-17 23:11:45,11.6667,92.7500,80.44,82,100,16.17
12,12,Ponta Do Sol,PT,2022-09-17 23:11:49,32.6667,-17.1000,75.70,85,41,8.30
16,16,Avarua,CK,2022-09-17 23:11:51,-21.2078,-159.7750,80.65,69,0,14.97
19,19,Corrente,BR,2022-09-17 23:11:52,-3.7367,-43.3394,79.50,67,83,8.08
24,24,Hasaki,JP,2022-09-17 23:11:54,35.7333,140.8333,82.29,84,100,15.17
26,26,Laguna De Perlas,NI,2022-09-17 23:11:55,12.3429,-83.6712,81.84,79,91,6.58
30,30,Kavaratti,IN,2022-09-17 23:11:56,10.5669,72.6420,80.38,79,100,11.36
31,31,Waddan,LY,2022-09-17 23:11:57,29.1614,16.1390,83.05,16,0,6.62
35,35,Butaritari,KI,2022-09-17 23:11:58,3.0707,172.7902,82.99,65,77,10.29
39,39,Mangrol,IN,2022-09-17 23:12:00,21.1167,70.1167,79.99,72,100,7.11

In [18]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
2         Port Blair      IN     80.44  11.6667   92.7500
12      Ponta Do Sol      PT     75.70  32.6667  -17.1000
16            Avarua      CK     80.65 -21.2078 -159.7750
19          Corrente      BR     79.50  -3.7367  -43.3394
24            Hasaki      JP     82.29  35.7333  140.8333
26  Laguna De Perlas      NI     81.84  12.3429  -83.6712
30         Kavaratti      IN     80.38  10.5669   72.6420
31            Waddan      LY     83.05  29.1614   16.1390
35        Butaritari      KI     82.99   3.0707  172.7902
39           Mangrol      IN     79.99  21.1167   70.1167

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Port Blair,IN,80.44,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
12,Ponta Do Sol,PT,75.70,32.6667,-17.1000,Hotel do Campo
16,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
19,Corrente,BR,79.50,-3.7367,-43.3394,Chapadinhense Hotel
24,Hasaki,JP,82.29,35.7333,140.8333,Inubosaki Kanko Hotel
...,...,...,...,...,...,...
536,Bogalusa,US,85.75,30.7910,-89.8487,Traveler's Rest Motel
538,Najran,SA,77.65,17.4924,44.1277,محمد هادي ال فطيح
539,Shimoda,JP,80.96,34.6667,138.9500,Shimoda Tokyu Hotel
540,Grand Island,US,84.20,40.9250,-98.3420,Fairfield Inn & Suites by Marriott Grand Island
541,Bubaque,GW,80.87,11.2833,-15.8333,"Casa Dora, Bubaque"

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))